body {
    background-color: #eee;
}

.header {
    text-align: center;
}

.barChart {
    margin: 0 auto;
    transform: rotate(180deg);
}

.bar {
    width: 5px;
    display: inline-block;
    background-color: red;
    border-width: 2px;
    margin: 2.5px;
}